<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/favicon1/apple-touch-icon-152x152.png" />
<link rel="android-chrome-precomposed" sizes="512x512" href="{{ site.url }}/assets/images/favicon1/android-chrome-512x512.png" />
<link rel="android-chrome-precomposed" sizes="192x192" href="{{ site.url }}/assets/images/favicon1/android-chrome-192x192.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon1/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon1/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon.png" sizes="48x48" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
